@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-wilddark text-zinc-100 antialiased;
  }
  
  /* Estilização sutil para o scrollbar combinando com o tema rústico */
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #12100E;
  }
  ::-webkit-scrollbar-thumb {
    background: #E05A10;
    border-radius: 4px;
  }
}